<div class="pull-right">
	<span class="pull-right">
		<%= link_to("New Payment",  new_admin_transaction_url ) %>
	</span>
</div>
<h1>Payments</h1>
<table id="transactions" class="display" data-source="<%= admin_transactions_url(format: "json") %>">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Item</th>
      <th>User Email</th>
      <th>User Phone</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Mode</th>
      <th>Transaction ID</th>
      <th>Created_at</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<script>
  $(document).ready(function() {
    $('#transactions').dataTable({
            sAjaxSource: $('#transactions').data('source'),
            sPaginationType: "full_numbers",
            bProcessing: true,
            aaSorting: [],
            pageLength: 50
            // createdRow: function (row, data, index) {
            //   rowFormat(row, data);
            // }
        });
} );

</script>