<%= form_for [:admin, @transaction] do |f| %>
  <div class="row">
    <div class="col-sm-12">
    </div>
    <br/>
    <%= f.fields_for :order do |order_builder| %>
      <%= render "admin/orders/form", f: order_builder, object: @line_items %>
    <% end %>
  </div>
  <%= f.submit 'Submit', class: "btn btn-md btn-success", style: "margin: 30px 0px;" %>
<% end %>